:root {
    --white: #DADFF7;
    --black: #152D2E;
    --black-2: rgba(21, 45, 46, 0.2);
    --green: #537372;
    --mint: #B6E2D3;
    --mint-2: rgba(182, 226, 211, 0.8);
    --blue: #43616F;
    --gray: #cfcfcf;
}

html {
    font-size: 62.5%;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--gray);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#bg_img {
    position: fixed;
    z-index: -1;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}

#back_to_top,
#back_to_top:visited,
#back_to_top:link {
    display: block;
    position: fixed;
    opacity: 0;
    fill: var(--green);
    bottom: 10rem;
    right: 10rem;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black-2);
    transition: transform .2s ease, box-shadow .2s ease, opacity .2s ease;
}

#back_to_top:hover {
    transform: translateY(-.2rem);
    box-shadow: 0.5rem 0.5rem 1em var(--black-2);
    fill: var(--black);
}

#back_to_top:active {
    transform: translateY(.2rem);
    box-shadow: 0.2rem 0.2rem 0.2em var(--black-2);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin: 10rem auto;
    padding: 10rem;
    border-radius: 2rem;
    background-color: var(--green);
    box-shadow: inset 0 0 5rem var(--black);
    transition: padding .1s linear;
}

.header__img_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: var(--mint);
    padding-bottom: 3rem;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem;
    margin-right: 3rem;
    box-shadow: 1rem 1rem 1rem var(--black-2);
    user-select: none;
}

.header__img_container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./img/profile-bg.jpg');
    background-size: cover;
    filter: grayscale(1);
    opacity: .1;
    z-index: 1;
}

.header__img_container__img {
    position: relative;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
    filter: grayscale(1);
    z-index: 10;
    box-shadow: 0 1rem 1rem var(--black-2);
}

.header__img_container__caption {
    display: inline-block;
    text-align: center;
}

.header__img_container__caption--1 {
    position: relative;
    display: block;
    color: var(--black);
    font-size: 3rem;
    padding-top: 3rem;
    font-weight: bolder;
    z-index: 10;
}

.header__img_container__caption--2 {
    position: relative;
    display: block;
    color: var(--black);
    font-size: 2.1rem;
    padding-top: 1rem;
    z-index: 10;
}

.header__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--white);
}

.header__text {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    width: 72rem;
    color: var(--white);
}

.header__links__container {
    margin-top: 3rem;
    vertical-align: middle;
    height: auto;
}

.header__subtitle {
    margin-right: 3rem;
    vertical-align: middle;
}

.header__link,
.header__link:link,
.header__link:visited {
    display: inline-block;
    margin-right: 3rem;
    padding: 1rem 2rem;
    background-color: var(--mint);
    color: var(--black);
    text-decoration: none;
    border-radius: 2rem;
    font-size: 1.6rem;
    vertical-align: middle;
    box-shadow: .5rem .5rem 1rem var(--black-2);
    transition: transform .2s ease, box-shadow .2s ease, color .2s ease, background-color .2s ease;
}

.header__link:hover {
    transform: translateY(-.2rem);
    box-shadow: 1rem 1rem 1.5rem var(--black-2);
    background-color: var(--black);
    color: var(--mint);
}

.header__link:active {
    transform: translateY(.2rem);
    box-shadow: .5rem .5rem .5rem var(--black-2);
}

.header__link__icon {
    display: inline-block;
    height: 1.6rem;
    margin-right: 1rem;
    vertical-align: middle;
    fill: var(--black);
    transition: all .2s ease;
}

.header__link__icon--big {
    height: 2.5rem;
}

.header__link:hover > .header__link__icon {
    fill: var(--mint);
    margin-right: 2rem;
}

.section {
    display: block;
    position: relative;
    max-width: 120rem;
    margin: 10rem auto;
    overflow-x: hidden;
}

.section__title {
    display: inline-block;
    font-size: 5rem;
    margin-bottom: 5rem;
    color: var(--blue);
}

.section__title__right {
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.2rem;
    color: var(--blue);
}

.section__subtitle {
    font-size: 3rem;
    color: var(--black);
}

.section__article {
    margin-bottom: 10rem;
}

.section__article__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.section__article__description {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.section__article__link, 
.section__article__link:visited 
.section__article__link:link {
    color: var(--blue);
    background-color: var(--mint);
}

.section__article__link:hover {
    color: var(--white);
    background-color: var(--blue);
}

.section__article__images {
    max-width: 100%;
    white-space: nowrap;
    margin: 3rem 0;
    cursor: grab;
    overflow-x: scroll;
    user-select: none;
}

.section__article__images__item {
    display: inline-block;
    width: 49.5rem;
    height: 25rem;
    outline: none;
    border: none;
    background-color: var(--black);
    user-select: none;
    pointer-events: none;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem var(--black-2);
    margin-bottom: 2rem;
    margin-right: 3rem;
    object-fit: contain;
}

@media screen and (max-width: 1280px) {
    .header {
        width: 90%;
        flex-direction: column;
        padding: 2rem;
        margin: 5rem auto;
    }

    .header__img_container {
        flex-direction: row-reverse;
        align-items: center;
        height: 60vmin;
        width: 100%;
        padding-bottom: 0;
        margin-right: 0;
        margin-bottom: 5rem;
    }

    .header__img_container__img { 
        width: 40vmin;
        height: 100%;
        margin-bottom: 0;
    }

    .header__img_container__caption {
        width: 30rem;
        padding: 0 5rem;
        white-space: nowrap;
    }

    .header__text {
        width: 100%;
    }

    .section {
        max-width: 90%;
    }

    .section__article__images {
        cursor: inherit
    }

    .section__article__images__item {
        display: block;
        margin: 2rem auto;
        width: 100%;
        max-width: 49.5rem;
    }
}

@media screen and (max-width: 800px) {
    #back_to_top,
    #back_to_top:visited,
    #back_to_top:link {
        bottom: 5rem;
        right: 5rem;
    }

    .header__img_container {
        height: 35vmin;
        width: 100%;
    }

    .header__title {
        font-size: 2rem;
    }

    .header__subtitle {
        display: block;
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .header__text {
        font-size: 1.2rem;
    }
    
    .header__link,
    .header__link:visited, 
    .header__link:link {
        font-size: 1.2rem;
        margin-right: 0;
        margin-bottom: 1rem;
        display: block;
        text-align:  center;
    }

    .header__link__icon {
        height: 1.2rem;
        margin-top: -.2rem;
    }

    .header__link__icon--big {
        height: 1.7rem;
        margin-top: -.3rem;
    }

    .header__img_container__img { 
        width: 30%;
    }

    .header__img_container__caption {
        padding: 0 3vmin;
        width: 70%;
    }

    .header__img_container__caption--1 {
        width: 100%;
        font-size: 4vmin;
    }
    
    .header__img_container__caption--2 {
        width: 100%;
        font-size: 3vmin;
    }

    .section__title {
        font-size: 3rem;
    }

    .section__article__title {
        font-size: 2rem;
    }

    .section__subtitle {
        margin: 10rem auto;
    }

    .section__article__description {
        font-size: 1.6rem;
    }
}